body {
    max-width: 1250px;
    padding: 0px;
    margin: 0px auto;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: var(--cor-5);
}

h1,h1,h3,h4,h5,h6,a,ul,li,img {
    padding: 0px;
    margin: 0px;  
    text-decoration: none;
    list-style: none;
}
